* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;

    padding: 50px;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 11pt;

    background-color: aliceblue;
    color: cadetblue;
}

